@tailwind base;
@tailwind components;
@tailwind utilities;

.default {
  background-color: #775aec;
}

.fitness {
  background-color: #ff7857;
}

.calisthenics {
  background-color: #ffb14f;
}

.gyms {
  background-color: #7fb881;
}

.parks {
  background-color: #ff7887;
}

.dip-belts {
  background-color: #775aec;
}

.amazon {
  background-color: #775aec;
}

.strength-training {
  background-color: #7fb881;
}

.home-workout {
  background-color: #775aec;
}

.resistance-bands {
  background-color: #775aec;
}

.beginner {
  background-color: #7fb881;
}